body {
  font-family: "Open Sans", sans-serif;
}

a:link, a:visited, a:hover, a:active {
  background-color: transparent;
  text-decoration: none;
}


.blurred-background {
  background: lightyellow;
  width: 100%;
  height: 550px;
  filter: blur(15px);
  background-size: cover;
}

.move-up {
  position: relative;
  top: -550px;
}

.transparent-box {
  border-radius: 1rem;
  background-color: rgba(108, 122, 137, .7);
  color: white;
}

.transparent-box > h1 {
  margin: 0.75em 0;
  font-size:3rem;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0px;
}

.row-content {
  margin: 10px;
  padding: 50px 0;
  min-height: 200px;
}

.review-panel {
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.review-panel-rating {
  font-size: 25px;
  z-index: 1;
  position: absolute;
  font-weight: 600;
  right: 15px;
  bottom: 15px;
}

.review-panel-caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 15px;
  z-index: 1;
  box-sizing: border-box;
}

.review-panel-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  width: 80%;
}

.review-panel-genres {
  display: block;
  font-size: 17px;
}

.overflow-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border: 1px solid green;
}

.maxHeight {
  max-height: 300px;
}


.container-carousel-img {
	max-width: 35vw;
	margin-right: auto;
	margin-left: auto;
}

.card {
  border: none;
}

.card-title {
  color: black;
  text-align: left;
  margin-bottom: 2px;
  text-decoration: none;
}
.card-text {
  color: gray;
  font-size: 0.75em;

}

/* slick slider classes */

.slick-slider-wrapper {
  width: 90%;
  margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: gray !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.multiple-pictures {
  text-align: center;
}
.multiple-pictures img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#full-width-slide {
  text-align: center;
}
#full-width-slide {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

