body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #cec8ff;
}

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0px;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white;
}
.row-content {
  margin: 10px;
  padding: 50px 0;
  min-height: 200px;
}

.navbar {
  background-color: #901cad;
}

.review-panel {
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.review-panel-rating {
  font-size: 25px;
  z-index: 1;
  position: absolute;
  font-weight: 600;
  right: 15px;
  bottom: 15px;
}

.review-panel-caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 15px;
  z-index: 1;
  box-sizing: border-box;
}

.review-panel-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  width: 80%;
}

.review-panel-genres {
  display: block;
  font-size: 17px;
}

.overflow-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maxHeight {
  max-height: 200px;
}

#maianImg {
  height: auto;
  width: 20%;
}

.d-none {
  color: blue;
  float: right;
}
